@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #d0ae87;
  margin: 0;
}

.blue-section, .green-section {
  width: 100%;
}

.blue-section .st0{fill:#603913;}
.blue-section .st1{opacity:0.45;fill:#FFFFFF;}
.blue-section .st2{fill:#1C75BC;}
.blue-section .st3{fill:none;stroke:#000000;stroke-width:0.989;stroke-miterlimit:10;}
.blue-section .st4{fill:none;}
.blue-section .st5{fill:#FFFFFF;}
.blue-section .st6{fill:none;stroke:#000000;stroke-width:0.8509;stroke-miterlimit:10;}
.blue-section .st7{fill:#F1F2F2;}
.blue-section .st8{fill:#1C75BC;stroke:#000000;stroke-width:0.8509;stroke-miterlimit:10;}

.green-section .st0 {fill:#00A651;}
.green-section .st1 {fill:none;stroke:#000000;stroke-width:0.8509;stroke-miterlimit:10;}
.green-section .st2{fill:none;}
.green-section .st3 {fill:#FFFFFF;}
.green-section .st4 {fill:#F1F2F2;}
.green-section .st5 {fill:#006838;}
.green-section .st6 {fill:#00A651;stroke:#006838;stroke-width:1.8721;stroke-miterlimit:10;}
.green-section .st7{fill:#8DC63F;}
.green-section .st8{fill:#DDB6CB;stroke:#006838;stroke-width:1.8721;stroke-miterlimit:10;}
.green-section .st9{fill:#F2F1CC;stroke:#F2F1CC;stroke-width:1.7327;stroke-miterlimit:10;}
.green-section .st10{fill:#F2F1CC;stroke:#F2F1CC;stroke-width:1.8613;stroke-miterlimit:10;}
.green-section .st11{fill:#F2F1CC;stroke:#F2F1CC;stroke-width:1.62;stroke-miterlimit:10;}
.green-section .st12{fill:#E26998;}
.green-section .st13{fill:#F2F1CC;}
.green-section .st14{fill:#00A651;stroke:#000000;stroke-width:0.8509;stroke-miterlimit:10;}

.grey-section .st0{fill:#A7A9AC;}
.grey-section .st1{fill:none;}
.grey-section .st2{fill:#FFFFFF;}
.grey-section .st3{fill:none;stroke:#000000;stroke-width:0.8509;stroke-miterlimit:10;}
.grey-section .st4{fill:#F1F2F2;}
.grey-section .st5{fill:#603913;}
.grey-section .st6{fill:#754C29;}
.grey-section .st7{fill:none;stroke:#58595B;stroke-width:1.21;stroke-linecap:round;stroke-miterlimit:10;}
.grey-section .st8{fill:#A7A9AC;stroke:#000000;stroke-width:0.8509;stroke-miterlimit:10;}

.white-section .st0{fill:#F1F2F2;}
.white-section .st1{fill:none;}
.white-section .st2{fill:none;stroke:#000000;stroke-width:0.8509;stroke-miterlimit:10;}
.white-section .st3{fill:#F1F2F2;stroke:#000000;stroke-width:0.8509;stroke-miterlimit:10;}
.white-section .st4{fill:#FFFFFF;}
.white-section .st5{opacity:0.45;fill:#FFFFFF;}

.orange-section .st0{fill:#F15A29;}
.orange-section .st1{fill:none;}
.orange-section .st2{fill:#F1F2F2;}
.orange-section .st3{fill:none;stroke:#000000;stroke-width:0.8509;stroke-miterlimit:10;}
.orange-section .st4{fill:none;stroke:#000000;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
.orange-section .st5{fill:none;stroke:#F15A29;stroke-width:6;stroke-linecap:round;stroke-miterlimit:10;}
.orange-section .st6{fill:#F15A29;stroke:#000000;stroke-width:1.3167;stroke-miterlimit:10;}
.orange-section .st7{fill:none;stroke:#000000;stroke-width:1.3167;stroke-miterlimit:10;}
.orange-section .st8{fill:none;stroke:#000000;stroke-linecap:round;stroke-miterlimit:10;}
.orange-section .st9{fill:#F15A29;stroke:#000000;stroke-width:0.8509;stroke-miterlimit:10;}


.cat-section .st0{fill:#FBB040;}
.cat-section .st1{fill:none;}
